# coding: utf-8

"""
    crush-tenant 平台接口(租户平台)

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.tenant.api_client import ApiClient


class ExchangeEntrustApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def exchange_entrusts_get(self, **kwargs):  # noqa: E501
        """获取委托订单列表 - 袁世伦  # noqa: E501

        获取委托订单列表  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.exchange_entrusts_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: 页码
        :param date start_at: 开始时间
        :param date end_at: 结束时间
        :param str uid: 账户ID
        :param str entrust_id: 委托订单号
        :param str trading_pair: 交易币对 ETH/USDT
        :param str trade_type: 挂单方向
        :param str entrust_channel: 挂单渠道
        :param str entrust_type: 委托类型 limit限价 market市价 profit_loss止盈止损  time_limit限时委托
        :param str status: 状态
        :return: GetEntrustsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.exchange_entrusts_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.exchange_entrusts_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def exchange_entrusts_get_with_http_info(self, **kwargs):  # noqa: E501
        """获取委托订单列表 - 袁世伦  # noqa: E501

        获取委托订单列表  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.exchange_entrusts_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: 页码
        :param date start_at: 开始时间
        :param date end_at: 结束时间
        :param str uid: 账户ID
        :param str entrust_id: 委托订单号
        :param str trading_pair: 交易币对 ETH/USDT
        :param str trade_type: 挂单方向
        :param str entrust_channel: 挂单渠道
        :param str entrust_type: 委托类型 limit限价 market市价 profit_loss止盈止损  time_limit限时委托
        :param str status: 状态
        :return: GetEntrustsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'start_at', 'end_at', 'uid', 'entrust_id', 'trading_pair', 'trade_type', 'entrust_channel', 'entrust_type', 'status']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method exchange_entrusts_get" % key
                )
            params[key] = val
        del params['kwargs']

        if ('uid' in params and
                len(params['uid']) > 64):
            raise ValueError("Invalid value for parameter `uid` when calling `exchange_entrusts_get`, length must be less than or equal to `64`")  # noqa: E501
        if ('entrust_id' in params and
                len(params['entrust_id']) > 64):
            raise ValueError("Invalid value for parameter `entrust_id` when calling `exchange_entrusts_get`, length must be less than or equal to `64`")  # noqa: E501
        if ('trading_pair' in params and
                len(params['trading_pair']) > 16):
            raise ValueError("Invalid value for parameter `trading_pair` when calling `exchange_entrusts_get`, length must be less than or equal to `16`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'start_at' in params:
            query_params.append(('startAt', params['start_at']))  # noqa: E501
        if 'end_at' in params:
            query_params.append(('endAt', params['end_at']))  # noqa: E501
        if 'uid' in params:
            query_params.append(('uid', params['uid']))  # noqa: E501
        if 'entrust_id' in params:
            query_params.append(('entrustId', params['entrust_id']))  # noqa: E501
        if 'trading_pair' in params:
            query_params.append(('tradingPair', params['trading_pair']))  # noqa: E501
        if 'trade_type' in params:
            query_params.append(('tradeType', params['trade_type']))  # noqa: E501
        if 'entrust_channel' in params:
            query_params.append(('entrustChannel', params['entrust_channel']))  # noqa: E501
        if 'entrust_type' in params:
            query_params.append(('entrustType', params['entrust_type']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/exchange/entrusts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetEntrustsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def exchange_fee_history_get(self, **kwargs):  # noqa: E501
        """获取手续费记录列表 - 袁世伦  # noqa: E501

        获取手续费记录列表  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.exchange_fee_history_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: 页码
        :param date start_at: 开始时间
        :param date end_at: 结束时间
        :param str trade_history_id: 交易记录id
        :param str trading_pair: 交易币对
        :param str uid: 用户ID
        :param str fee_type: 手续费类型buy币币交易买方,sell币币交易卖方
        :return: GetFeeHistoryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.exchange_fee_history_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.exchange_fee_history_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def exchange_fee_history_get_with_http_info(self, **kwargs):  # noqa: E501
        """获取手续费记录列表 - 袁世伦  # noqa: E501

        获取手续费记录列表  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.exchange_fee_history_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: 页码
        :param date start_at: 开始时间
        :param date end_at: 结束时间
        :param str trade_history_id: 交易记录id
        :param str trading_pair: 交易币对
        :param str uid: 用户ID
        :param str fee_type: 手续费类型buy币币交易买方,sell币币交易卖方
        :return: GetFeeHistoryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'start_at', 'end_at', 'trade_history_id', 'trading_pair', 'uid', 'fee_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method exchange_fee_history_get" % key
                )
            params[key] = val
        del params['kwargs']

        if ('trading_pair' in params and
                len(params['trading_pair']) > 16):
            raise ValueError("Invalid value for parameter `trading_pair` when calling `exchange_fee_history_get`, length must be less than or equal to `16`")  # noqa: E501
        if ('uid' in params and
                len(params['uid']) > 40):
            raise ValueError("Invalid value for parameter `uid` when calling `exchange_fee_history_get`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'start_at' in params:
            query_params.append(('startAt', params['start_at']))  # noqa: E501
        if 'end_at' in params:
            query_params.append(('endAt', params['end_at']))  # noqa: E501
        if 'trade_history_id' in params:
            query_params.append(('tradeHistoryId', params['trade_history_id']))  # noqa: E501
        if 'trading_pair' in params:
            query_params.append(('tradingPair', params['trading_pair']))  # noqa: E501
        if 'uid' in params:
            query_params.append(('uid', params['uid']))  # noqa: E501
        if 'fee_type' in params:
            query_params.append(('feeType', params['fee_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/exchange/fee-history', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetFeeHistoryResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def exchange_trade_history_get(self, **kwargs):  # noqa: E501
        """获取成交记录列表 - 袁世伦  # noqa: E501

        获取成交记录列表  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.exchange_trade_history_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: 页码
        :param date start_at: 开始时间
        :param date end_at: 结束时间
        :param str trade_history_id: 成交记录号
        :param str order_id: 委托ID
        :param str trading_pair: 交易币对
        :param str uid: 用户ID
        :return: GetTradeHistoryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.exchange_trade_history_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.exchange_trade_history_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def exchange_trade_history_get_with_http_info(self, **kwargs):  # noqa: E501
        """获取成交记录列表 - 袁世伦  # noqa: E501

        获取成交记录列表  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.exchange_trade_history_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: 页码
        :param date start_at: 开始时间
        :param date end_at: 结束时间
        :param str trade_history_id: 成交记录号
        :param str order_id: 委托ID
        :param str trading_pair: 交易币对
        :param str uid: 用户ID
        :return: GetTradeHistoryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'start_at', 'end_at', 'trade_history_id', 'order_id', 'trading_pair', 'uid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method exchange_trade_history_get" % key
                )
            params[key] = val
        del params['kwargs']

        if ('order_id' in params and
                len(params['order_id']) > 64):
            raise ValueError("Invalid value for parameter `order_id` when calling `exchange_trade_history_get`, length must be less than or equal to `64`")  # noqa: E501
        if ('trading_pair' in params and
                len(params['trading_pair']) > 16):
            raise ValueError("Invalid value for parameter `trading_pair` when calling `exchange_trade_history_get`, length must be less than or equal to `16`")  # noqa: E501
        if ('uid' in params and
                len(params['uid']) > 40):
            raise ValueError("Invalid value for parameter `uid` when calling `exchange_trade_history_get`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'start_at' in params:
            query_params.append(('startAt', params['start_at']))  # noqa: E501
        if 'end_at' in params:
            query_params.append(('endAt', params['end_at']))  # noqa: E501
        if 'trade_history_id' in params:
            query_params.append(('tradeHistoryId', params['trade_history_id']))  # noqa: E501
        if 'order_id' in params:
            query_params.append(('orderId', params['order_id']))  # noqa: E501
        if 'trading_pair' in params:
            query_params.append(('tradingPair', params['trading_pair']))  # noqa: E501
        if 'uid' in params:
            query_params.append(('uid', params['uid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/exchange/trade-history', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetTradeHistoryResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
