# coding: utf-8

"""
    crush-staff 平台接口（职员管理平台）

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.staff.api_client import ApiClient


class AdvertisementApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def admin_ad_find_page_get(self, **kwargs):  # noqa: E501
        """查询广告列表  # noqa: E501

        查询广告列表  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_ad_find_page_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: 页码
        :param int page_size: 页面大小
        :param str create_time_start: 提交的起始时间 国际时间
        :param str create_time_end: 提交的结束时间 国际时间
        :param str ad_id: 广告id
        :param str user_id: 商家id
        :param str currency_id: 币种id
        :param int status: 状态 0 全部 1 上架  2 下架  3 删除
        :param int type: 交易类型 0 全部 1 购买 2 出售
        :return: AdFindPageResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admin_ad_find_page_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.admin_ad_find_page_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def admin_ad_find_page_get_with_http_info(self, **kwargs):  # noqa: E501
        """查询广告列表  # noqa: E501

        查询广告列表  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_ad_find_page_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int page: 页码
        :param int page_size: 页面大小
        :param str create_time_start: 提交的起始时间 国际时间
        :param str create_time_end: 提交的结束时间 国际时间
        :param str ad_id: 广告id
        :param str user_id: 商家id
        :param str currency_id: 币种id
        :param int status: 状态 0 全部 1 上架  2 下架  3 删除
        :param int type: 交易类型 0 全部 1 购买 2 出售
        :return: AdFindPageResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'page_size', 'create_time_start', 'create_time_end', 'ad_id', 'user_id', 'currency_id', 'status', 'type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admin_ad_find_page_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'create_time_start' in params:
            query_params.append(('createTimeStart', params['create_time_start']))  # noqa: E501
        if 'create_time_end' in params:
            query_params.append(('createTimeEnd', params['create_time_end']))  # noqa: E501
        if 'ad_id' in params:
            query_params.append(('adId', params['ad_id']))  # noqa: E501
        if 'user_id' in params:
            query_params.append(('userId', params['user_id']))  # noqa: E501
        if 'currency_id' in params:
            query_params.append(('currencyId', params['currency_id']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/admin/ad/find-page', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AdFindPageResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def admin_ad_user_ad_count_get(self, user_id, **kwargs):  # noqa: E501
        """查询用户广告数  # noqa: E501

        查询用户广告数  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_ad_user_ad_count_get(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: 用户id (required)
        :return: UserAdCountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admin_ad_user_ad_count_get_with_http_info(user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.admin_ad_user_ad_count_get_with_http_info(user_id, **kwargs)  # noqa: E501
            return data

    def admin_ad_user_ad_count_get_with_http_info(self, user_id, **kwargs):  # noqa: E501
        """查询用户广告数  # noqa: E501

        查询用户广告数  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_ad_user_ad_count_get_with_http_info(user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_id: 用户id (required)
        :return: UserAdCountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admin_ad_user_ad_count_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user_id' is set
        if ('user_id' not in params or
                params['user_id'] is None):
            raise ValueError("Missing the required parameter `user_id` when calling `admin_ad_user_ad_count_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'user_id' in params:
            query_params.append(('userId', params['user_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/admin/ad/user-ad-count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UserAdCountResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
