# coding: utf-8

"""
    crush-staff 平台接口（职员管理平台）

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.staff.api_client import ApiClient


class ContactsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def contacts_projects_exchange_id_get(self, exchange_id, status, **kwargs):  # noqa: E501
        """获取交易所对接的项目列表  # noqa: E501

        获取交易所对接的项目列表（交易所、用户管理后台）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.contacts_projects_exchange_id_get(exchange_id, status, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str exchange_id: (required)
        :param str status: 对接状态 accepted：接受，rejected：拒绝，pending：待处理 (required)
        :param int page: 页码
        :param str coin_name: 币简称
        :return: GetContactProjectsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.contacts_projects_exchange_id_get_with_http_info(exchange_id, status, **kwargs)  # noqa: E501
        else:
            (data) = self.contacts_projects_exchange_id_get_with_http_info(exchange_id, status, **kwargs)  # noqa: E501
            return data

    def contacts_projects_exchange_id_get_with_http_info(self, exchange_id, status, **kwargs):  # noqa: E501
        """获取交易所对接的项目列表  # noqa: E501

        获取交易所对接的项目列表（交易所、用户管理后台）  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.contacts_projects_exchange_id_get_with_http_info(exchange_id, status, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str exchange_id: (required)
        :param str status: 对接状态 accepted：接受，rejected：拒绝，pending：待处理 (required)
        :param int page: 页码
        :param str coin_name: 币简称
        :return: GetContactProjectsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exchange_id', 'status', 'page', 'coin_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method contacts_projects_exchange_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exchange_id' is set
        if ('exchange_id' not in params or
                params['exchange_id'] is None):
            raise ValueError("Missing the required parameter `exchange_id` when calling `contacts_projects_exchange_id_get`")  # noqa: E501
        # verify the required parameter 'status' is set
        if ('status' not in params or
                params['status'] is None):
            raise ValueError("Missing the required parameter `status` when calling `contacts_projects_exchange_id_get`")  # noqa: E501

        if ('coin_name' in params and
                len(params['coin_name']) > 16):
            raise ValueError("Invalid value for parameter `coin_name` when calling `contacts_projects_exchange_id_get`, length must be less than or equal to `16`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'exchange_id' in params:
            path_params['exchangeId'] = params['exchange_id']  # noqa: E501

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'coin_name' in params:
            query_params.append(('coinName', params['coin_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/contacts/projects/{exchangeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetContactProjectsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
