# coding: utf-8

{{>partial_header}}

import pytest
import json
import {{packageName}}.staff
from {{packageName}}.staff.api.{{classVarName}} import {{classname}}  # noqa: E501
from {{packageName}}.staff.rest import ApiException
from conftest import verify, login, logout, register, BACK_DOOR_VERIFY_CODE, rand_password, rand_email, rand_phone, rand_indiv_cert


api = {{packageName}}.staff.api.{{classVarName}}.{{classname}}()


def pytest_namespace():
    return {'email': "", "password": "", "base_token": "", "phone": ""}


class {{#operations}}Test{{classname}}:
    """{{classname}} pytest stubs"""

    def test_register_and_login_prepare(self):
        country = "86"
        pytest.email = rand_email()
        pytest.password = rand_password()
        register(email=pytest.email, password=pytest.password, promotion_code="",
                 verification_code=BACK_DOOR_VERIFY_CODE,
                 country=country)

        pytest.base_token = login(api, pytest.email, pytest.password, challenge="", seccode=BACK_DOOR_VERIFY_CODE,
                                  validate="")
        print("register return base_token:%s" % pytest.base_token)

   {{#operation}}
    def test_{{operationId}}(self):
        """Test case for {{{operationId}}}

{{#summary}}
        {{{summary}}}  # noqa: E501
{{/summary}}
        """
        pass

   {{/operation}}
{{/operations}}

if __name__ == '__main__':
    unittest.main()
